---
layout: layout.liquid
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>11ty Boilerplate</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script deter src="https://cdn.jsdelivr.net/gh/hankhank10/alpine-fetch@main/alpine-fetch.js"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
</head>
<body>
  <div> id="thumbnail"></div>
<script>
  function displayHTML(string) {
    const mainImage = document.getElementById('thumbnail');
    mainImage.innerHTML = '<img alt="test" src ="${string}" />';
  }
  fetch('https://dummyjson.com/products/1')
    .then(res => res.json())
    .then(json => displayHTML(json.thumbnail))
</script>
</body>
</html>