---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1> Planetary Playing Cards </h1>
<main> 
    <div class="module sun">
      <div class="circle-1"></div>
      <h2>Sun</h2>
       <p>Type G2V</p>
    </div>
    <div class="module mercury">
      <div class="circle-2"></div>
      <h2>Mercury</h2>
       <p>0.39 AU</p>
    </div>
    <div class="module venus">
      <div class="circle-2"></div>
      <h2>Venus</h2>
       <p>0.72 AU</p>
    </div>
    <div class="module earth">
      <div class="circle-2"></div>
      <h2>Earth</h2>
       <p>1 AU</p>
    </div>
    <div class="module mars">
      <div class="circle-2"></div>
      <h2>Mars</h2>
       <p>1.52 AU</p>
    </div>
    <div class="module jupiter">
      <div class="circle-2"></div>
      <h2>Jupiter</h2>
       <p>5.20 AU</p>
    </div>
    <div class="module saturn">
      <div class="circle-2"></div>
      <h2>Saturn</h2>
       <p>9.54 AU</p>
    </div>
    <div class="module uranus">
      <div class="circle-2"></div>
      <h2>Uranus</h2>
       <p>19.22 AU</p>
    </div>
    <div class="module neptune">
      <div class="circle-2"></div>
      <h2>Neptune</h2>
       <p>30.06 AU</p>
    </div>
</main>